/* Yuji Alves - ArtistCard Component's style */

.card {
  margin: 10px;
  padding: 10px;
  background: #181818;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.card div {
  text-decoration: none;
  color: #fafafa;
}

.hover:hover {
  background: #9a5d9e;
  cursor: pointer;
}
