/* Kento Tanaka
CSS of GlobalMenu */

.menubar {
    position: fixed;
    top: 0;
    height: 12vh;
    width: 100%;
    z-index: 10;
    background: none;
    transition: all 0.5s ease;
    background: linear-gradient(to bottom, #3B3B3B 0%, #181818 100%);

}

.hidden {
    background: #181818;
    transition: all 0.5s ease;
}

.title {
    float: left;
    color: #9a5d9e;
    display: block;
    font-size: 5.5vh;
    font-family: 'Tahoma';
    padding-top: 2.5vh;
    margin-left: 5vw;
}

.hidden_title {
    color: #9a5d9e

}


.menu {
    float: right;
}

.menu ul {
    list-style: none;
    display: inline-block;
}

.menu li {
    display: inline-block;
    padding-top: 2.5vh;
    margin-right: 3vw;

    font-family: 'Tahoma';
    font-size: 2vh;
}

.menu i {
    padding-right: 0.3vw;
}

.menu a {
    text-decoration: none;
    color: #9a5d9e;
}


@media only screen and (max-width: 479px) {
    .title {
        font-size: 3.5vh;
    }
}