.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.name {
  font-size: 20px;
  margin-bottom: 0;
  color: white;
}

.icon {
  cursor: pointer;
  margin-left: 10px;
  color: #9a5d9e;
}
