.container {
  padding-top: 10vh;
  padding-bottom: 20vh;
  background: rgb(24,24,24);
}

.title {
  font-size: 5vh;
  color: #fff;
  padding: 20px 0 0 40px;
}

.roomlist {
  padding: 10px 60px;
}

.searchbar {
  padding: 10px 50px;
}