.container {
  width: 40%;
  display: flex;
  justify-content: center;
  padding: 32px;
  padding-top: 64px;
}

.title {
  font-size: 36px;
  color: white;
}

.profile {
  margin-top: 32px;
  width: 400px;
  padding: 64px;
  background-color: #181818;
  box-shadow: 0 0 50px black;
  border-radius: 40px;
}

.header {
  display: flex;
  flex-direction: row;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-left: 48px;
  color: white;
}

.description {
  margin-top: 32px;
  font-size: 16px;
  color: white;
}
